/*
Developer: AriaWP
URL: https://ariawp.com
*/

@font-face {
  font-family: 'BHelal';
  src: url('../fonts/BHelal.eot?#') format('eot'),  /* IE6–8 */
       url('../fonts/BHelal.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../fonts/BHelal.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

body{
	font-family: "BHelal", tahoma;
}